body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
}

.language-bash {
    color: #fff;
    background-color: black;
    padding: 5px;
}

/**** logo ****/
.siteLogo {
    width: 200px;
    height: 121px;
}